* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-size: 100%; 
    font-family: Arial, sans-serif; 
    background-color: #f8f8f8; 
    color: #333; 
    line-height: 1.6; 
}

header {
    background-color: black; 
    padding: 1.5em 0; 
    text-align: center;
}


h1 {
    color: rgb(90, 195, 178); 
    font-size: 2.5rem; 
    text-align: center;
    margin-bottom: 0.5em; 
}

h2, h3 {
    color: rgb(90, 195, 178); 
    margin-bottom: 0.625em;
}

nav ul {
    list-style: none;
    justify-content: center;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 0.8em; 
}

nav a {
    color: white;
    text-decoration: none; 
    font-weight: bold;
    font-size: 1.1rem; 
}

nav a:hover {
    color: rgb(90, 195, 178);
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #bbb;
    text-align: center;
    padding: 1em; 
}